@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/tasks.css"/>

@if (User.Identity.IsAuthenticated)
{
    <p>Sprint 18. Boklach Volodymyr & Markiian Huk</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Exit" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}